{% extends 'base.html' %}

{% block title%}
<title>Listr</title>
{% endblock %}

{% block content %}
<h1 class="title">Listr</h1>

<h1 class="signUp"><a href="/signup">Sign Up</a></button>

    <style>
        /* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap'); */

        html {
            background: #2F2FA2;
        }

        .title {
            font-family: 'Montserrat Alternate', sans-serif;
            color: #FF4C72;
        }
    </style>
    {% endblock %}