{% extends 'base.html' %}

{% block content %}
<h1 class="title"><a href="/">Listr</a></h1>

<form  method = "POST">
    <h1>Login</h1>
    <p>Email <input type = "text" name = "email1" /></p>
    <p>Password <input type = "text" name = "password1" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h4>No account?</h4>
    <h4 class="registeer"><a href="/signup">Register Here!</a></button>

<style>
    html {
        background: #2F2FA2;
    }

    .title {
        font-family: 'Montserrat Alternate', sans-serif;
        color: #FF4C72;
    }
</style>
{% endblock %}